/* This style sheet is created by Rohit Sai Pandugolla - C0878560 */

@import url("../css/style.css");

.team-hero {
  position: relative;
  text-align: center;
}

.team-info {
  background-color: #bae1ff;
  border: 1px solid #000;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 16px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.name {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.team-hero-text > h2,
.our-team-section > h2 {
  font-size: 1.4rem;
  margin-block-start: 10px;
  margin-block-end: 20px;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.team-hero-text p {
  font-size: 1rem;
  width: 100%;
  text-align: justify;
  margin: 0 auto;
  letter-spacing: 0.5px;
  padding: 0 2rem;
  margin-block: 1rem 2rem;
}
.our-team-section > p {
  padding: 0 2rem;
  margin-block: 1rem 2rem;
  margin: 0 auto;
}

.team-hero-text {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.team-hero-text::before {
  position: absolute;
  top: 30%;
  left: -10%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.1);
  content: " ";
  opacity: 0.8;
  width: 150%;
  height: 50%;
  transform: rotateZ(10deg);
}

.team-img {
  width: 80%;
  opacity: 0.6;
  margin: 0 auto;
  height: 40vh;
  object-fit: cover;
  object-position: 100% 55%;
}

.our-team-cards {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.member-card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: 8px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  gap: 4px;
  height: 12rem;
}
.member-card p {
  font-weight: 500;
}
.member-card small {
  font-size: 12px;
}

.member-card .member-img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.member-card .member-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}

.member-card .member-info-btn {
  position: absolute;
  bottom: 10px;
  right: 50%;
  transform: translateX(50%);
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.member-card .member-info-btn img {
  opacity: 0.7;
  transform: rotateZ(180deg);
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .our-team-cards {
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  }
  .team-hero-text::before,
  .our-team-section::before {
    height: 40%;
    top: 40%;
    transform: rotateZ(5deg);
  }
  .team-hero-text {
    max-width: 70%;
  }

  .team-hero-text h2,
  .our-team-section h2 {
    font-size: 2rem;
  }
  .team-hero-text p,
  .our-team-section > p {
    letter-spacing: 1px;
    font-size: 1.2rem;
  }
  .member-card {
    max-width: 18rem;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-start;
  }
  .member-card .member-img {
    width: 8rem;
    height: 8rem;
  }
  .member-card .member-info {
    margin: auto;
  }
  .member-card p {
    font-weight: 600;
    font-size: 1.1rem;
  }
  .member-card small {
    font-size: 12px;
  }
  .member-card .member-info-btn {
    right: 10px;
    transform: translate(0);
  }
  .member-card .member-info-btn img {
    width: 2rem;
    height: 2rem;
  }
}
