/* This style sheet is created by Rohit Sai Pandugolla - C0878560 */

@import url("../css/style.css");

/* style for table element */

/* .training-container p {
  margin: 1rem auto;
  max-width: 80%;
  text-align: justify;
} */

.training {
  overflow-x: auto;
  margin: 0 auto;
  width: 100%;
  display: grid;
  place-items: center;
}
.training-table {
  border-left: 1px solid var(--blue-700);
  border-right: 1px solid var(--blue-700);
  margin: 1rem;
  border-collapse: collapse;
  border-spacing: 0px;
}

.training-table caption {
  text-decoration: underline;
  text-underline-offset: 5px;
  padding: 0 0 1rem 0;
  font-weight: 500;
  font-size: 2rem;
}
/*main content table*/
th,
td {
  padding: 10px 20px;
  font-weight: 500;
}
tr:nth-child(2n) {
  background-color: var(--blue-200);
  border-bottom: 1px solid var(--blue-900);
}
tr:nth-child(2n):hover {
  background-color: var(--blue-300);
  border-bottom: 1px solid var(--blue-900);
}

th {
  color: var(--black-100);
  background-color: var(--blue-700);
}
tr:hover {
  cursor: pointer;
  background-color: var(--black-300);
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.product-info > img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}
